body{
background-color:#f4f6f9;
}

h1{
font-weight:bold;
}

.nivel{
display:none;
}

.nivel.activo{
display:block;
}

canvas{
background-color:white;
}

#video{
border:2px solid #333;
border-radius:10px;
}

#fotoGuardada{
max-width:500px;
width:100%;
}

.progress{
height:30px;
}

.card{
box-shadow:0 2px 10px rgba(0,0,0,.1);
}

#reloj{
color:#0d6efd;
font-weight:bold;
}


